# API Keys
GROK_API_KEY=your_grok_api_key_here
SERP_API_KEY=your_serp_api_key_here
GOOGLE_MAPS_API_KEY=your_google_maps_api_key_here



# Redis
REDIS_URL=redis://localhost:6379

# API Configuration
API_TIMEOUT=30
MAX_RETRIES=3

# Agent Configuration
MAX_CONCURRENT_AGENTS=5
AGENT_TIMEOUT=60

# Grok Configuration
GROK_MODEL=grok-beta
GROK_TEMPERATURE=0.7
GROK_MAX_TOKENS=2000

# SERP Configuration
SERP_ENGINE=google
SERP_COUNTRY=us
SERP_LANGUAGE=en

# Google Maps Configuration
MAPS_REGION=us
MAPS_LANGUAGE=en

# Travel Configuration
DEFAULT_CURRENCY=USD
MAX_TRAVELERS=10
MAX_TRIP_DURATION=30

# Caching
CACHE_TTL=3600

# OpenAI Configuration
OPENAI_API_KEY=your_openai_api_key_here

# MongoDB Atlas Configuration
MONGODB_URI=add_cluster_url
DATABASE_NAME=database_name

# JWT Configuration
SECRET_KEY=JWTsecretkey
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30


# Stripe Configuration
STRIPE_SECRET_KEY=stripe_secret key
STRIPE_PUBLISHABLE_KEY=publishable_secret_key
PREMIUM_PRICEID=price_key

WEB_HOOK_SECRET=   add_webhook
FRONTEND_URL=http://localhost:3000
